* {
  box-sizing: border-box;
}

body,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
  text-align: center;
}

.w3-bar,
h1,
button {
  font-family: "Montserrat", sans-serif
}

button, input, select, textarea, optgroup {
  font: inherit;
  margin: 0
}

.header {
  background-color: #99ccff;
  padding: 20px;
}

a:link.navbar, a:visited.navbar {
  background-color: #9999ff;
  color: black;
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

select {
  -webkit-appearance: none;
  appearance: none;
}

.opacity, .hover-opacity:hover {
  opacity: 0.60
}

.opacity-off, .hover-opacity-off:hover {
  opacity: 1
}

.albion-purple, .hover-albion-purple:hover {
  color: #fff !important;
  background-color: #592041 !important
}

.albion-gold, .hover-albion-gold:hover {
  color: #fff !important;
  background-color: #d69d00 !important
}

.albion-text-purple, .hover-albion-text-purple:hover {
  color: #592041 !important
}

.albion-text-gold, .hover-albion-text-gold:hover {
  color: #d69d00 !important
}

.tiny {
  font-size: 10px !important
}

.small {
  font-size: 12px !important
}

.medium {
  font-size: 15px !important
}

.large {
  font-size: 18px !important
}

.xlarge {
  font-size: 24px !important
}

.xxlarge {
  font-size: 36px !important
}

.xxxlarge {
  font-size: 48px !important
}

.jumbo {
  font-size: 64px !important
}

.padding {
  padding: 8px 16px !important
}

.padding-large {
  padding: 12px 24px !important
}

.padding-16 {
  padding-top: 16px !important;
  padding-bottom: 16px !important
}

.padding-24 {
  padding-top: 24px !important;
  padding-bottom: 24px !important
}

.padding-32 {
  padding-top: 32px !important;
  padding-bottom: 32px !important
}

.padding-48 {
  padding-top: 48px !important;
  padding-bottom: 48px !important
}

.padding-64 {
  padding-top: 64px !important;
  padding-bottom: 64px !important
}

.padding-header {
  padding-top: 64px !important;
  padding-bottom: 24px !important;
}

.padding-footer {
  padding-top: 80px !important;
}

.list {
  list-style-type: none;
  padding: 0;
  margin: 0
}

.list li {
  padding: 8px 16px;
  border-bottom: 1px solid #ddd
}

.list li:last-child {
  border-bottom: none
}

.input {
  padding: 0;
  display: block;
  border: none;
  border-bottom: 1px solid #ccc;
  width: 100%
}

.select {
  padding: 0;
  width: 100%;
  border: none;
  border-bottom: 1px solid #ccc
}

.dropdown-click, .dropdown-hover {
  position: relative;
  display: inline-block;
  cursor: pointer
}

.dropdown-hover:hover .dropdown-content {
  display: block
}

.dropdown-hover:first-child, .dropdown-click:hover {
  background-color: #ccc;
  color: #000
}

.dropdown-hover:hover>.button:first-child, .dropdown-click:hover>.button:first-child {
  background-color: #ccc;
  color: #000
}

.dropdown-content {
  cursor: auto;
  color: #000;
  background-color: #fff;
  display: none;
  position: absolute;
  min-width: 160px;
  margin: 0;
  padding: 0;
  z-index: 1
}

button, label, input, select {
  display: block;
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  box-sizing: border-box;
  width: 75%;
  height: 30px;
}

.btn, .button {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 15px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width:600px) {
  .column {
    width: 100%;
  }
}
